html, body {
    margin: 0; 
    padding: 0;
    text-align: center;
}

header {
    background-color: cornflowerblue;
    padding: 2px;
}

footer {
    background-color: darkslategray;
    color: whitesmoke;
    padding: 10px;
}

ul {
    width: 14%;
    margin: 10px auto;
}

nav {
    padding-bottom: 10px;
    font-size: 1.1em;
    text-transform: capitalize;
    text-decoration: none;
}

span {
    font-weight: bold;
    font-size: 1.1em;
}

img {
    max-width: 100px;
    max-height: 100px;
}

form {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    margin-bottom: 15px;
}

button {
    margin-bottom: 10px;
    padding: 5px;
}

button:hover {
    /* background-color: lightgray; */
    box-shadow: 2px 3px 1px gray;
}