<h2>Add a Cryptid</h2>

<form action="/cryptids" method="POST">
<label for="name">Name:
    <input type="text" name="name" id="name">
</label>

<label for="img_url">Image Url:
    <input type="text" name="img_url" id="img_url">
</label>

<input type="submit" value="Add Cryptid">
</form>