<h2>Add a new dinosaur</h2>

<form action="/dinosaurs" method="POST">
    <label for="name">Name:
        <input type="text" id="name" name="name">
    </label>

    <label for="type">Type:
        <input type="text" id="type" name="type">
    </label>

    <input type="submit" value="Add Dino">

</form>